<html>
    <head>
        <title>NearByGrocer - Store</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="../css/store.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="super_wrap">
            <div class="stick_div">
                <div class="nav_bar">
                    <div class="hamburger">
                        <img src="https://img.icons8.com/plasticine/100/000000/menu.png"/>
                    </div>
                    <div class="store_logo">
                        <img src="https://img.icons8.com/doodle/48/000000/star-logo.png"/>
                    </div>
                    <div class="store_name">
                        <p>Akash Store</p>
                    </div>
                    <div class="pencil">
                        <img src="https://img.icons8.com/ios/50/000000/pencil.png"/>
                    </div>
                    <div class="cart">
                        <img src="https://img.icons8.com/plasticine/100/000000/favorite-cart.png"/>
                    </div>
                </div>
                <div class="search_bar">
                    <form class="search">
                        <input type="text" name="item" class="item" placeholder="Search 10000+ products">
                        <button type="submit" class="submit_search"><img src="https://img.icons8.com/android/24/000000/search.png"/></button>
                    </form>
                </div>
            </div>
            <div class="product_slideshow">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/></div>
                        <div class="swiper-slide"><img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>0</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>                
            </div>
            <div class="categories">
                <div class="categories_heading">
                    <p>Top Categories</p>
                    <a href="#">View All</a>
                </div>
                <div class="category_grid">
                    <div class="category_row">
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="category_row">
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="category_row">
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="category_row">
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="category_row">
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                        <div class="category">
                            <div class="category_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            <p class="caption">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="misc_categories">
                <div class="misc_categories_wrap">
                    <div class="misc_category">
                        <p class="misc_category_name">Lorem ipsum.</p>
                        <div class="misc_category_arrows">
                            <img src="../images/left.png">
                            <img src="../images/right.png">
                        </div>
                    </div>
                    <div class="misc_category">
                        <p class="misc_category_name">Lorem ipsum.</p>
                        <div class="misc_category_arrows">
                            <img src="../images/left.png">
                            <img src="../images/right.png">
                        </div>
                    </div>
                    <div class="misc_category">
                        <p class="misc_category_name">Lorem ipsum.</p>
                        <div class="misc_category_arrows">
                            <img src="../images/left.png">
                            <img src="../images/right.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="brands">
                <div class="brands_heading">
                    <p>Brands</p>
                    <a href="#">View All</a>
                </div>
                <div class="brands_grid">
                    <div class="brands_row">
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                    </div>
                    <div class="brands_row">
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                    </div>
                    <div class="brands_row">
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                        <div class="brands_elem">
                            <div class="brands_img">
                                <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="misc_categories">
                <div class="misc_categories_wrap">
                    <div class="misc_category">
                        <p class="misc_category_name">Lorem ipsum.</p>
                        <div class="misc_category_arrows">
                            <img src="../images/left.png">
                            <img src="../images/right.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_slideshow">
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item_wrap">
                                <div class="item_img">
                                    <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                                </div>
                                <p class="item_name">Lorem ipsum dolor sit.</p>
                                <p class="stock">Lorem, ipsum dolor.</p>
                                <p class="red_cost">243</p>
                                <p class="cost">230.85</p>
                            </div>
                            <button class="item_add" onclick="plus_minus(0)">ADD</button>
                            <div class="plus_minus">
                                <button class="minus" onclick="minus(0)">-</button>
                                <p class="quantity"></p>
                                <button class="add" onclick="add(0)">+</button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_wrap">
                                <div class="item_img">
                                    <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                                </div>
                                <p class="item_name">Lorem ipsum dolor sit.</p>
                                <p class="stock">Lorem, ipsum dolor.</p>
                                <p class="red_cost">243</p>
                                <p class="cost">230.85</p>
                            </div>
                            <button class="item_add" onclick="plus_minus(1)">ADD</button>
                            <div class="plus_minus">
                                <button class="minus" onclick="minus(1)">-</button>
                                <p class="quantity"></p>
                                <button class="add" onclick="add(1)">+</button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_wrap">
                                <div class="item_img">
                                    <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                                </div>
                                <p class="item_name">Lorem ipsum dolor sit.</p>
                                <p class="stock">Lorem, ipsum dolor.</p>
                                <p class="red_cost">243</p>
                                <p class="cost">230.85</p>
                            </div>
                            <button class="item_add" onclick="plus_minus(2)">ADD</button>
                            <div class="plus_minus">
                                <button class="minus" onclick="minus(2)">-</button>
                                <p class="quantity"></p>
                                <button class="add" onclick="add(2)">+</button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_wrap">
                                <div class="item_img">
                                    <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                                </div>
                                <p class="item_name">Lorem ipsum dolor sit.</p>
                                <p class="stock">Lorem, ipsum dolor.</p>
                                <p class="red_cost">243</p>
                                <p class="cost">230.85</p>
                            </div>
                            <button class="item_add" onclick="plus_minus(3)">ADD</button>
                            <div class="plus_minus">
                                <button class="minus" onclick="minus(3)">-</button>
                                <p class="quantity"></p>
                                <button class="add" onclick="add(3)">+</button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_wrap">
                                <div class="item_img">
                                    <img src="https://img.icons8.com/doodle/96/000000/used-product.png"/>
                                </div>
                                <p class="item_name">Lorem ipsum dolor sit.</p>
                                <p class="stock">Lorem, ipsum dolor.</p>
                                <p class="red_cost">243</p>
                                <p class="cost">230.85</p>
                            </div>
                            <button class="item_add" onclick="plus_minus(4)">ADD</button>
                            <div class="plus_minus">
                                <button class="minus" onclick="minus(4)">-</button>
                                <p class="quantity"></p>
                                <button class="add" onclick="add(4)">+</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="plus">
                <img src="https://img.icons8.com/color/48/000000/plus-math.png"/>
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/js.js"></script>
    
</html>